html,body{
	margin : 0;
	background-color: #272822;
	color : white;
	font-family: 'Nunito', sans-serif;
}

button{
	font-family: 'Nunito', sans-serif;
	background-color: #3397fa;
	border : none;
	outline : 0;
	font-weight: 800;
	font-size : 0.9em;
	color : white;
	padding : 5px 15px;
	text-transform: uppercase;
	cursor : pointer;
}
button:hover{
	opacity : 0.8;
}

button.launchBtn{
	background-color: #27ae60;
}

header{
	height : 50px;
	background-color: black;
}
header img.logo{
	height : 30px;
	margin-top: 10px;
	float : left;
	margin-right: 20px;
}
header .stepContainer{
	margin-top: 10px;
	display: inline-block;
}
header .rightContainer{
	float : right;
	margin-top: 5px;
	margin-right: 10px;
}

header button.step{
	border: 1px white solid;
	background-color: transparent;
	font-size: 0.7em;
}
header button.step:hover{
	color : black;
	background-color: white;
	opacity: 1.0;
}

h3{
	margin: 5px 0px;
}
.editorContainer{
	display: inline-block;
	vertical-align: top;
	height : calc(100% - 90px);
	width : 49%;
}
.editor {
	width : 100%;
	height : 100%;
}