/* Social Icons */
.socialIcons{
	position : absolute;
	top      : 15px;
	right    : 15px;
}
.socialIcons .icon{
	background-color: #4fbfa6;
	display         : inline-block;
	margin-left     : 10px;
	padding         : 10px;
	border-radius   : 100%;
}
.socialIcons .icon:hover{
	background-color: #3aa18a;
}
.socialIcons img{
	height : 20px;
	width  : 20px;
}