/* Sections side by side */
.left, .right{
	display        : inline-block;
	vertical-align : top;
	box-sizing     : border-box;
	width          : 49%;
	padding-left   : 30px;
}
.right{
	border-left : 2px solid #4fbfa6; /* teal */
}
/* Article Customization */
.contact ul{
	margin-left : -40px;
	list-style  : none;
}

/* Code for Step 3 */