/* Sections side by side */
.left, .right{
	display        : inline-block;
	vertical-align : top;
	box-sizing     : border-box;
	width          : 49%;
	padding-left   : 30px;
}
.right{
	border-left : 2px solid #4fbfa6;
}

/* This will style all info sections */
.infoSection{
	margin-bottom: 40px;
}

.contact .icon{
	height       : 1em;
	margin-right : 10px;
}
.contact div{
	margin-top: 10px;
}

/* Code for Step 3 */